{{!-- This is called via controller/home-routes, home-routes if logged in will show maps, otherwise it will show login. 
home-routes will pass a lot of information via object to this handle bar to render. 
Logic for this is handle in public/js/map.js --}}

<div class="container justify-content-center">
  <div class="row">
    <div id="groupList" class="col-2">
      {{#if noGroup}}
        <p> {{noGroupMessage}} </p>
      {{else}}
        <ul>{{#each allUserGroups as |group|}}
            <li>{{group.name}}</li>
          {{/each}}
        </ul>
      {{/if}}
      <div>
        {{#each members as |person|}}
          <div class="">
            {{person.userName}},{{person.longitude}},{{person.latitude}}
          </div>
        {{/each}}
      </div>

    </div>
    <div id="map" class="col-6"></div>
  </div>
</div>
<script src="./js/map.js"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOxXYVOWPzgQcdB8Zc8KTR-P92C8A-K2Y&callback=initMap&v=weekly"
  defer
></script>