{{! This is being rendered via controller/home-routes, home-routes if logged in will show maps, otherwise it will show login. 
home-routes will pass a lot of information via object to this handle bar to render. 
Logic for this is handle in public/js/map.js }}

<div class="topnav navbar bg-dark text-light container-fluid justify-content-end">
      {{#if loggedIn}}
      <h3> Group Name: <span class="text-warning fw-bold"> {{groupName}} </span> Username: <span class="text-warning fw-bold"> {{userInfo.userName}} </span> </h3>
      {{/if}}
    </div>

<div class="container justify-content-center userInGroup">
  {{!-- Ice box! --}}
    {{!-- <div id="groupList" class="col m-2">
      <h5> Group History </h5>
      {{#if noGroupMessage}}
        <p> {{noGroupMessage}} </p>
      {{else}}
        <ul>{{#each allUserGroups as |group|}}
            <li>{{group.name}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div> --}}
  <div id="map" class="groupUser col-6 m-3"></div>
  <div class="col m-3 group-display">
    <h5> Users in {{groupName}} </h5>
    {{#each members as |person|}}
      <div class="border border-warning userItems flex-wrap wrap">
        <div class="userName">
          {{person.userName}}
        </div>
        <div id="latLong">
          {{person.longitude}},
          </br>
          {{person.latitude}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src="./js/map.js"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOxXYVOWPzgQcdB8Zc8KTR-P92C8A-K2Y&callback=initMap&v=weekly"
  defer
></script>